<span>PHP Matsuri</span> 2013 青年団
<ul class="staff-icon">
    <li><a href="http://twitter.com/makies"><img class="img-rounded" src="images/icons/makies.png" width="48px"></a></li>
    <li><a href="https://twitter.com/kuppi"><img class="img-rounded" src="images/icons/kuppi.jpeg" width="48px"></a></li>
    <li><a href="https://twitter.com/nazo"><img class="img-rounded" src="images/icons/nazo.png" width="48px"></a></li>
    <li><a href="https://twitter.com/yamaki_panda"><img class="img-rounded" src="images/icons/yamaki_panda.png" width="48px"></a></li>
    <li><a href="https://twitter.com/ketaiorg"><img class="img-rounded" src="images/icons/ketaiorg.jpg" width="48px"></a></li>

    <li><a href="http://twitter.com/yando"><img class="img-rounded" src="images/icons/yando.jpeg"></a></li>
    <li><a href="http://twitter.com/cakephper"><img class="img-rounded" src="images/icons/ichikaway.jpg"></a></li>
    <li><a href="http://twitter.com/sanojimaru"><img class="img-rounded" src="images/icons/sanojimaru.jpg"></a></li>
    <li><a href="http://twitter.com/k1LoW"><img class="img-rounded" src="images/icons/k1LoW.jpg"></a></li>
    <li><a href="http://twitter.com/kaz_29"><img class="img-rounded" src="images/icons/kaz_29.jpg"></a></li>
    <li><a href="http://twitter.com/shin1x1"><img class="img-rounded" src="images/icons/shin1x1.png"></a></li>
    <li><a href="http://twitter.com/suzuki"><img class="img-rounded" src="images/icons/suzuki.jpeg"></a></li>
    <li><a href="http://twitter.com/mon_sat"><img class="img-rounded" src="images/icons/mon_sat.gif" width="48px"></a></li>
    <li><a href="http://twitter.com/sizuhiko"><img class="img-rounded" src="images/icons/sizuhiko.png" width="48px"></a></li>  
    <li><a href="http://twitter.com/ganchiku"><img class="img-rounded" src="images/icons/ganchiku.jpg" width="48px"></a></li>
    <li><a href="http://twitter.com/kekkorock"><img class="img-rounded" src="images/icons/kekkorock.jpeg" width="48px"></a></li>
    <li><a href="http://twitter.com/tanakahisateru"><img class="img-rounded" src="images/icons/tanakahisateru.jpg" width="48px"></a></li>
    <li><a href="http://twitter.com/hamaco"><img class="img-rounded" src="images/icons/hamaco.png" width="48px"></a></li>
    <li><a href="http://twitter.com/remore"><img class="img-rounded" src="images/icons/remore.png" width="48px"></a></li>
</ul>
